.maindiv{
    display: flex;
    justify-content: space-between;
} 
.img{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}
.btn{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

}
.icon{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-right: 200px;
}
.button{
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: red;

}
.div2{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.subdiv2{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 25px;
    margin-right:25px ;
}
.lastDiv{
    /* margin-left: 800px; */
    display: flex;
    justify-content:center;
} 
.lastDiv1{
    display: flex;
    justify-content:center;
}
.ourtext{
    font-size:x-large;
}
.lastDiv2{
    display: flex;
    justify-content:center;
    font-size:x-large;
}
.mainImage{
    display: flex;
    justify-content:center; 
} 
.imageSec1{
    display: flex;
    justify-content:space-between;   
}
.img1:hover{
    box-shadow: 1px 5px 7px 1px red;
    cursor: pointer;
}
.img2:hover{
    box-shadow: 1px 5px 7px 1px red;
    cursor: pointer;
}
.img3:hover{
    box-shadow: 1px 5px 7px 1px red;
    cursor: pointer;
}
.table{
    display: flex;
    justify-content:center;  
}
/* .superclass{
    display: flex;
    justify-content: center;
}  */
.top-heading {
text-align: center;
vertical-align: baseline;
}

.salesd{
    display: flex;
    justify-content:center;
} 
.maindiv1{
    display: flex;
    justify-content:center;
}
.table1{
    border-radius: 10px;
    background-color:white;
    border-collapse: separate;
    border-spacing: 20px 0;
}
.table2{
    border-radius: 10px;
    background-color:white;
}
.table3{
    border-radius: 10px;
    background-color:white;
}
.maindiv2{
    display: flex;
    justify-content:center;
}   
.testTable{
    display: flex;
    justify-content:center;
}
.sub1{
    border-radius: 10px;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.sub2{
    border-radius: 10px;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.sub3{
    border-radius: 10px;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.sub4{
    border-radius: 10px;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
} 