.Mainpage{
    justify-content: center;
    display: flex;
}
.img{
    padding-left: 20px;
}
 body{
    background-image: url(sea\ pic.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-size: x-large;
    color: white;
}
input{
    height: 25px;
    border: none;
    border-radius: 10px;
}
.test{
    width: 100px;
    height: 30px;
}
.test:hover{
    background-color: rgb(22, 252, 22);
}
.test1{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.test1:hover{
    background-color: red;
}
.btl{
    color: red;
}
/*
#myButton{
    border: none;
    border-radius: 30px;
    width: 100px;
    height: 30px;
}
#myButton:hover{
    background-color: aqua;
    cursor: pointer;
    box-shadow: 1px 5px 7px 1px black;
}
.top-heading{
    color:white;
}  */